.ftco-intro {
    color: #fff; }
.ftco-intro .container {
    margin-top: 100px; }
@media (min-width: 768px) {
    .ftco-intro .container {
        margin-top: 100px; } }
.ftco-intro .color-1 {
    background: #2cbcbc; }
.ftco-intro .color-2 {
    background: #21aac4; }
.ftco-intro .color-3 {
    background: #2f89fc;
    background: -moz-linear-gradient(-45deg, #2f89fc 0%, #2cbcbc 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #2f89fc), color-stop(100%, #2cbcbc));
    background: -webkit-linear-gradient(-45deg, #2f89fc 0%, #2cbcbc 100%);
    background: -o-linear-gradient(-45deg, #2f89fc 0%, #2cbcbc 100%);
    background: -ms-linear-gradient(-45deg, #2f89fc 0%, #2cbcbc 100%);
    background: -webkit-linear-gradient(315deg, #2f89fc 0%, #2cbcbc 100%);
    background: -o-linear-gradient(315deg, #2f89fc 0%, #2cbcbc 100%);
    background: linear-gradient(135deg, #2f89fc 0%, #2cbcbc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#00dc94', GradientType=1 ); }
.ftco-intro h3 {
    font-size: 20px;
    color: #fff; }
.ftco-intro .phone-number {
    font-size: 18px; }
.ftco-intro .openinghours {
    display: block;
    width: 100%;
    font-size: 14px; }
.ftco-intro .openinghours span {
    width: 50%;
    display: block; }
.ftco-intro .appointment-form .form-group {
    position: relative; }
.ftco-intro .appointment-form .form-group input, .ftco-intro .appointment-form .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff !important;
    font-size: 14px;
    padding-right: 20px !important; }
.ftco-intro .appointment-form .form-group input option, .ftco-intro .appointment-form .form-group select option {
    color: #fff; }
.ftco-intro .appointment-form .form-group input::-webkit-input-placeholder, .ftco-intro .appointment-form .form-group select::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff !important; }
.ftco-intro .appointment-form .form-group input::-moz-placeholder, .ftco-intro .appointment-form .form-group select::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important; }
.ftco-intro .appointment-form .form-group input:-ms-input-placeholder, .ftco-intro .appointment-form .form-group select:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff !important; }
.ftco-intro .appointment-form .form-group input:-moz-placeholder, .ftco-intro .appointment-form .form-group select:-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important; }
.ftco-intro .appointment-form .form-group .btn-primary {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 0;
    padding-right: 0 !important; }
.ftco-intro .appointment-form .icon {
    position: absolute;
    top: 50% !important;
    right: 0;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff; }
@media (max-width: 767.98px) {
    .ftco-intro .appointment-form .icon {
        right: 10px; } }

.ftco-services {
    padding-bottom: 0 !important; }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
@media (min-width: 576px) {
    .container {
        max-width: 540px; } }
@media (min-width: 768px) {
    .container {
        max-width: 720px; } }
@media (min-width: 992px) {
    .container {
        max-width: 960px; } }
@media (min-width: 1200px) {
    .container {
        max-width: 1140px; } }

.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #000 !important;
    font-size: 16px;
    border-radius: 0px;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid #e6e6e6; }
.form-control:focus, .form-control:active {
    border-color: #cccccc; }

textarea.form-control {
    height: inherit !important; }

.form-group {
    padding-bottom: 10px; }
